body.dark{
  background:#333;
  color:#FFF;
}

body.dark a{
  color:#7c7cff !important;
}

body.dark rect[fill="#ffffff"]{
  fill:#111;
}

body.dark path[stroke="#e6e6e6"]{
  stroke:#222;
}

body.dark rect[fill="#e6e6e6"]{
  fill:#222;
}

body.dark path[stroke="#ffffff"]{
  stroke:#111;
}

body.dark path[stroke="#b7b7b7"]{
  stroke:#000;
}

body.dark text[fill="#4d4d4d"]{
  fill:#AAA;
}

body.dark text[fill="#202020"]{
  fill:#FFF;
}

body.dark text[fill="#000000"]{
  fill:#FFF;
}

body.dark hr{
  border-top-color:#111;
}